<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>jdbcUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/java_study</param-value>
    </context-param>
    <context-param>
        <param-name>driverClassName</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlId</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlPwd</param-name>
        <param-value>root</param-value>
    </context-param>


</web-app>